<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chemistry | RUTC</title>
    <link rel="icon" type"image/x-icon" href="../images/logo.png">
    <link rel="stylesheet" href="chem.css">
</head>
<body>
    <div id="particles-js"></div>
    <script src="https://cdn.jsdelivr.net/npm/tsparticles@2/tsparticles.bundle.min.js"></script>
        <script>
            tsParticles.load("particles-js", {
                background: {
                    color: {
                        value: "#0d0d0d"
                    }
                },
                fpsLimit: 165,
                interactivity: {
                    events: {
                        onHover: {
                            enable: true,
                            mode: "repulse"
                        }
                    },
                    modes: {
                        repulse: {
                            distance: 100,
                            duration: 0.4
                        }
                    }
                },
                particles: {
                    color: {
                        value: ["#826644", "d2042d", "cfff04", "9caf88", "7f00ff"],
                        animation: {
                            enable: true,
                            speed: 20,
                            sync: false
                        },
                    },
                    links: {
                        color: {
                            value: "#000009"
                        },
                        distance: 150,
                        enable: true,
                        opacity: 0.5,
                        width: 1,
                    },
                    shadow: {
                        enable: true,
                        color: "#ffffff",
                        blur: 2
                    },
                    move: {
                        enable: true,
                        speed: 2
                    },
                    number: {
                        density: {
                            enable: true,
                            area: 800
                        },
                        value: 60
                    },
                    opacity: {
                        value: 0.5
                    },
                    shape: {
                        type: "circle"
                    },
                    size: {
                        value: { min: 1, max: 5 }
                    }
                }
            });
        </script>
    <header>
        <h1> 
            <a href="index.html" class="heading-1">A-Level Chemistry</a>
        </h1>
        <nav>
            <ul>
                <li><a href="/aboutus.html">About Us</a></li>
                <li><a href="/contact.html">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <main class="course-container">
        <section class="course-description">
            <h2>About This Course</h2>
            <p>
               Embark on an exciting journey into the fundamental building blocks 
               of our universe with our A-Level Chemistry course. This intellectually 
               stimulating programme will equip you with a deep understanding of chemical 
               principles, reactions, and their real-world applications.
                <ul>
                    <li>Physical Chemistry: Uncover the underlying principles governing chemical reactions, including:
                        <ul>
                            <li>Thermodynamics</li>
                            <li>Kinetics</li>
                            <li>Equilibrium.</li><br>
                        </ul>
                    </li>
                    <li>Inorganic Chemistry: Explore the properties and behaviour of elements and their compounds, including:
                        <ul>
                            <li>Transition Metals</li>
                            <li>Periodicity</li><br>
                        </ul>
                    </li>
                    <li>Organic Chemistry: Investigate the structure, bonding, reactions, and synthesis of 
                        carbon-based compounds, the foundation of life.
                    </li>
                    <li>Analytical Chemistry: Develop essential skills in identifying and quantifying 
                        substances through various techniques.
                    </li>
                </ul>
            </p>
            <p>
                Why study A-Level Chemistry at RUTC?
                <ul>
                    <li>Expert tuition from experienced and passionate chemistry specialists.</li>
                    <li>Access to state-of-the-art laboratories.</li>
                    <li>Excellent preparation for university and future careers.</li>
                </ul>
            </p>
        </section>

        <aside class="apply-section">
            <button class="apply-btn"><a href="apply.html">Apply Now</a></button>
        </aside>
    </main>

    <footer>
        <p><strong>© 2025 College Courses for Richmond. All Rights Reserved.</strong></p>
    </footer>
</body>
</html>

