<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <Title>Contact | RUTC</Title>
    <link rel="icon" type"image/x-icon" href="../images/logo.png">
    <link rel="stylesheet" href="contact.css">
  </head>
<body>
    <header>
        <h2><a href="index.html">Our Campus Location</a></h2>
    </header>
  <div id="map">
      <image src="../images/maps.png">
  </div>
  <div class="mymap">
      <div class="map-desc">
          <p>
          We're easy to reach via public transport, with Twickenham 
          Station a 15 minute walk away, and bus routes from Hounslow, Hammersmith and Kingston 5-10 minutes away. 
          If coming from Twickenham Station, cross the road at the traffic lights and turn right.
          At the next set of traffic lights, turn left onto Whitton Road.
          Follow the road to a large roundabout with Twickenham Rugby Stadium in front of you and 
          turn left onto Chertsey Road (A316). As you follow the road, you will see the 
          Richmond upon Thames College (RuTC) building on the left. 
          Pass the building and turn left as if going towards Harlequins Stoop. 
          Then left again to access the College.
          <br><br>
          Alternatively, Text or call 020-8607-8000.
          </p>
      </div>
  </div>
</body>
</html>
