
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Psychology | RUTC</title>
    <link rel="icon" type"image/x-icon" href="../images/logo.png">
    <link rel="stylesheet" href="math.css">
</head>
<body>
    <header>
        <h1> A-Level Maths</h1>
        <nav>
            <ul>
                <li><a href="/aboutus.html">About Us</a></li>
                <li><a href="/contact.html">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <main class="course-container">
        <section class="course-description">
            <h2>About This Course</h2>
            <p>
                Unlock the power of logical reasoning and problem-solving with our challenging and rewarding A-Level Mathematics course.<br>
                This rigorous programme provides a deep understanding of core mathematical principles,
                preparing you for higher education and a wide range of analytical careers.<br><br>
                Dive into the elegant world of:<br>
                <ul>
                    <li><strong>Pure mathematics:</strong> Explore advanced algebra, trigonometry, calculus, and geometry,
                                building a solid foundation in essential mathematical concepts</li>
                    <li><strong>Mechanics:</strong> Apply mathematical principles to understand the motion  of objects, forces and energy</li>
                    <li><strong>Statistics:</strong> Learn to analyse data, calculate probabilities and make informed decisions based on statistical evidence</li>
                </ul>
            </p>
            <p>
                Why study A-Level Psychology at RUTC?
                <ul>
                    <li>Expert tuition from experienced and passionate psychology specialists.</li>
                    <li>Access to state-of-the-art learning resources and facilities.</li>
                    <li>Opportunities to engage in practical research and data analysis.</li>
                    <li>A supportive and collaborative learning environment.</li>
                    <li>Excellent preparation for university and future careers.</li>
                    <li>Strong focus on the application of psychology to real life scenarios.</li>
                </ul>
            </p>
        </section>

        <aside class="apply-section">
            <button class="apply-btn"><a href="apply.html">Apply Now</a></button>
        </aside>
    </main>

    <footer>
        <p><strong>© 2025 College Courses for Richmond. All Rights Reserved.</strong></p>
    </footer>
</body>
</html>

